**/.ipynb_checkpoints
**/__pycache__

Elaborato/*.bak
Elaborato/*.log
Elaborato/*.toc
Elaborato/*.aux
Elaborato/*.bbl
Elaborato/*.bcf
Elaborato/*.blg
Elaborato/*.dvi
Elaborato/*.xml
Elaborato/*.gz
Elaborato/TesiElaborato.pdf

CodicePalermo

Elaborato/*.drawio

**/*.old
